<footer class="is-medium is-dark is-bold">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <h4 class="is-uppercase">Thank you for visiting!</h4>
          <p>Add this website to your favorites so you can watch more movies later! We keep it updated!</p>
        </div>
        <div class="column has-text-centered">
          <h4 class="is-uppercase">Latest Articles</h4>
          {% include 'partials/footerloop.html' %}
        </div>
        <div class="column has-text-centered">
          <h4 class="is-uppercase">DMCA Notice</h4>
          <p>We do not upload movies!</p>
          <p>If you believe your copyright has been infringed, look for the video owner. Most, if not all, our content was posted to social networks by their copyright owners.</p>
        </div>
      </div>
    </div>
</footer>