<!-- 
THIS CODE BOCK WILL BE REMOVED
>>>>>>>>> PART OF IT WILL BE MOVED TO HEADERS

<aside class="new-sidebar">
    <section>
        <a href="{{ SITEURL }}">
            <img src="/theme/img/LOGO.png" class="logo" />
        </a>
        <p>Watch feature films and short films that are related to the gay culture. We have one of the largest selection on titles! Enjoy!
    </section>
    <section class="links-menu">
        <a href="{{ SITEURL }}" {% if page_name == 'index' %}class="active"{% endif %}>Home</a>
        <a href="{{ SITEURL }}/category/gay-short-movie/">Gay Short Movies</a>
        <a href="{{ SITEURL }}/category/gay-movie/">Gay Movies</a>
        <a href="{{ SITEURL }}/category/blog/">Blog</a>
    </section>
</aside> -->