@charset "UTF-8";
a {
  color: #727f88; }

a:hover {
  color: white; }

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #111; }

.content blockquote {
  background-color: #04e2c2;
  border-left: 5px solid #111;
  padding: 1.25em 1.5em; }

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

body {
  font-family: "Raleway", sans-serif;
  padding: 10px 5px 0 5px;
  color: #111;
  background-color: #141415; }

#grid[data-columns]::before {
  content: '3 .column.size-1of3'; }

.column {
  float: left; }

@media screen and (max-width: 480px) {
  #grid[data-columns]::before {
    content: '1 .column.size-1of1'; } }
@media screen and (min-width: 481px) and (max-width: 768px) {
  #grid[data-columns]::before {
    content: '2 .column.size-1of2'; } }
@media screen and (min-width: 769px) {
  #grid[data-columns]::before {
    content: '3 .column.size-1of3'; } }
/* Again, you’re free to use and define the classes: */
.column {
  float: left; }

.size-1of1 {
  width: 100%;
  padding: 0 17px; }

.size-1of2 {
  width: 50%;
  padding: 0 17px; }

.size-1of3 {
  width: 33.333%;
  padding: 0 17px; }

.size-1of4 {
  width: 25%;
  padding: 0 17px; }

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 1; }

.mb-10 {
  margin-bottom: 10px; }

article p {
  line-height: 1.5;
  margin-bottom: 1rem; }
  article p a {
    color: #373737;
    background: #e5ba0e;
    padding: 3px;
    -webkit-transition: all 150ms ease-in;
    transition: all 150ms ease-in; }
  article p a:hover {
    color: #373737;
    background: #c0392b;
    padding: 3px;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out; }

.width-is-64 {
  width: 64px; }

iframe {
  width: 100%;
  min-height: 380px; }

@media screen and (max-width: 480px) {
  iframe {
    width: 100%;
    height: 100%; } }
.is-cleared {
  clear: both;
  margin-bottom: 10px; }

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .share a {
    color: #111;
    padding: 15px;
    border: 2px solid #111;
    margin: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-left: 0;
    margin-right: 20px; }
  .share a:hover {
    color: #ffde00; }
  .share span {
    font-family: Anton;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2.5px;
    width: 100%;
    color: #111; }

.svg-inline--fa {
  width: 24px; }

nav.pagination {
  font-family: Anton; }

.pagination-link {
  color: #111;
  min-width: 2.25em;
  border: #111 solid 2px; }

.pagination-link, .pagination-next, .pagination-previous {
  border-color: #111;
  color: #111;
  min-width: 2.25em; }

.table {
  background-color: #fff;
  color: #111; }

.body-shadow {
  -webkit-box-shadow: 0px 30px 30px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 30px 30px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff; }

/* logo now applies to the logo itself */
.logo {
  font-size: 2rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -1px; }

a.logo:hover {
  color: #727f88; }

.new-sidebar {
  margin-right: -12px; }

footer {
  background: #373d42;
  color: white;
  margin-top: 12px;
  padding: 70px 0;
  display: inline-block;
  width: 100%; }
  footer a {
    color: #e5ba0e; }

.horizontal-line {
  border-bottom: 1px solid #a5c5c1; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif; }
  .menu span {
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 16px;
    font-size: 0.9rem; }

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0; }

.image-link {
  margin-bottom: -4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: block; }

.post-summary {
  margin-top: 2rem;
  background: black;
  padding: 2.1rem; }
  .post-summary h1 {
    margin-top: 1rem;
    margin-bottom: -1rem; }
  .post-summary p {
    margin-top: 20px;
    padding-top: 20px;
    color: #727f88; }
  .post-summary a {
    font-size: 1.1rem; }

.post {
  margin-bottom: 40px; }
  .post a {
    color: white;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.75px;
    font-weight: 600;
    text-transform: uppercase; }
  .post a:hover {
    color: #04e2c2; }

.tag-read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem; }
  .tag-read-more a {
    font-size: 0.8rem; }

.button-outline {
  padding: 10px;
  border: white solid 1px; }

.navbar {
  color: white;
  text-transform: uppercase; }
  .navbar.is-transparent {
    margin-bottom: 1rem;
    background-color: transparent;
    background-image: none; }

.navbar-link, .navbar-item {
  color: white;
  font-weight: 600; }

a.navbar-link:hover, a.navbar-item:hover {
  color: #727f88; }

.navbar-dropdown {
  background-color: #111; }

/*# sourceMappingURL=base.css.map */